<html>
<head>
    <title>Contact-me</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png">
</head>
<body>
<div id="container">
  <h1>&bull; Contact-me &bull;</h1>
  <div class="underline">
  </div>
  <div class="icon_wrapper">
  </div>
  <form method="post" id="contact_form" action="/email">
    <div class="name">
      <label for="name"></label>
      <input type="text" placeholder="My name is" name="name" id="name_input" required>
    </div>
    <div class="email">
      <label for="email"></label>
      <input type="email"  placeholder="My e-mail is" name="email" id="email_input" required>
    </div>
    <div class="subject">
      <label for="subject"></label>
      <input type="text" placeholder="Subject" name="subject" id="email_input" required>
    </div>
    <div class="message">
      <label for="message"></label>
      <textarea name="message" placeholder="I'd like to chat about" name="message" id="message_input" cols="30" rows="5" required></textarea>
    </div>
    <div class="submit">
      <input type="submit" value="Send Message" id="form_button" />
    </div>
  </form>
</div>